.login_logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}


.login_logo-container .login_background-image{
  width: 100%;
  height: 100vh;
  position: absolute;
}

.coluna-login{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  
 
}


.coluna-login .form-login {
  width: 100%;
  height: 400px;
  background: #fff;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coluna-login .form-login .login_header{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px auto;
}
.coluna-login .form-login .login_header .login_header-logo{
  width: 80px;
}
.coluna-login .form-login .login_header span{
  margin-top: 10px;
  font-size: 20px;
}


.coluna-login .form-login form{
  width: 100%;
  padding: 10px;
}

.coluna-login .form-login img{
  width: 100px;
}

.coluna-login .form-login .form-login_footer{
  display: flex;
  justify-content: space-between;
}

.coluna-login .form-login .form-login_footer .label{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.coluna-login .form-login .form-login_footer button{
  margin: 0;
  padding: 0 25px;
}
